body {
    margin: 0;
    background-color: black;
    color: white;
    font: 2vmin sans-serif;
}
header {
    height: 5%;
}
#main {
    display: flex;
    height: 95%;
}
#collection {
    width: 20%;
    text-align: center;
    overflow-y: auto;
}
.gallery {
    width: 95%;
    margin: 2.5%;
}
.aspect-ratio-box {
    height: 0;
    padding-top: var(--ratio);
    position: relative;
    overflow: hidden;
}
#new {
    border-width: 5px;
    border-radius: 2px;
    border-style: dashed;
    border-color: grey;
    box-sizing: border-box;
    font: 10vmin sans-serif;
}
.thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#contents {
    width: 80%;
}
#close-up {
    height: 90%;
    width: 95%;
    margin: 0% 2.5% 2.5%;
    object-fit: contain;
}
#controls {
    margin: 0% 2.5%;
    height: 5%;
}
.control-elements {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 1%;
    justify-items: stretch;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
}
#colors {
    align-self: stretch;
    justify-self: stretch;
}
svg {
    width: 100%;
    height: 100%;
}
